$font-color: #444;
$font-family: Helvetica, Arial, sans-serif;
$header-back: #27323b;
$cream-color: #eaeaea;
$light-blue: #a5afd7;
$back-color: #333745;
$option-back: #555679;
$head-back: #3c4251;
$btn-back: #8357c5;
$active-btn-back: #6728c5;
